@import "tailwindcss";
@plugin "../tailwind-plugin/tw-theme";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
}

@theme {
  --font-primary: 'Montserrat Alternates', sans-serif;
  --font-secondary: 'Pacifico', cursive;
}

@keyframes float-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}

@keyframes float-slower {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}

.animate-float-slower {
  animation: float-slower 9s ease-in-out infinite;
}